.dribbble-widget ul,.twitter-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dribbbles img {
    margin-bottom: 15px;
}

.dribbbles img,.flickr_badge_image img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    max-width: 100%;
    height: auto;
}

.flickr_badge_image {
    float: left;
    width: 12.5%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 5%;
}

.flickr-widget .flickr_badge_image:nth-child(6n+6) {
    margin-right: 0;
    float: right;
}

.flickr-widget:after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
}

.dribbble-widget li {
    background: none;
    padding: 0;
}

.twitter-widget ul li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #555;
}

.twitter-link {
    float: right;
    padding: 5px 12px;
    background-color: #00acee;
    color: #fff;
    font-size: small;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.twitter-link:hover {
    color: #00acee;
    background-color: #fff;
}

.twitter-link i {
    margin-right: 10px;
}

.twitter-timestamp {
    font-size: 80%;
    color: #666;
}

.bon-toolkit-likes-container {
    display: inline-block;
}

.bon-toolkit-likes {
    padding: 3px 10px;
    color: #fff;
    background-color: #F95439;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    font-weight: inherit;
    line-height: inherit;
}

.bon-toolkit-likes:hover,.bon-toolkit-likes:focus {
    color: #fff;
    background-color: #222;
}

.bon-toolkit-likes i {
    margin-right: 5px;
}

.bon-toolkit-map {
    position: relative;
    width: 100%;
    height: auto;
}

.map-container {
    height: inherit;
    width: inherit;
}

.map-container img {
    max-width: none !important;
}

.mapzoom {
    height: 40px;
    left: 0;
    position: absolute;
    width: 40px;
    font-size: 2em;
}

.mapbutton {
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    background: #000;
    text-transform: uppercase;
    -moz-transition: background-color .2s ease-out;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

.bon-toolkit-map.red .mapbutton:hover,.bon-toolkit-map.red .mapbutton.hovered,.bon-toolkit-map.red .mapbutton.selected {
    background-color: #f95439;
}

.bon-toolkit-map.blue .mapbutton:hover,.bon-toolkitmap.blue .mapbutton.hoveblue,.bon-toolkitmap.blue .mapbutton.selected {
    background-color: #00b4ff;
}

.bon-toolkit-map.yellow .mapbutton:hover,.bon-toolkitmap.yellow .mapbutton.hoveyellow,.bon-toolkitmap.yellow .mapbutton.selected {
    background-color: #ffd908;
}

.bon-toolkit-map.purple .mapbutton:hover,.bon-toolkitmap.purple .mapbutton.hovepurple,.bon-toolkitmap.purple .mapbutton.selected {
    background-color: #c438b8;
}

.bon-toolkitmap.green .mapbutton:hover,.bon-toolkitmap.green .mapbutton.hovegreen,.bon-toolkitmap.green .mapbutton.selected {
    background-color: #73ba5d;
}

.bon-toolkitmap.orange .mapbutton:hover,.bon-toolkitmap.orange .mapbutton.hoveorange,.bon-toolkitmap.orange .mapbutton.selected {
    background-color: #ff8355;
}

.maptype {
    font-size: 1em;
    padding: 0 18px;
    margin-bottom: 5px;
}

div.maptypebox {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

div.mapbutton.more {
    top: 0;
}

div.mapbutton.less {
    top: 42px;
}

.bon-toolkit-map .mapbutton,.bon-toolkit-map .maptypebox {
    font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, sans-serif;
}

.bon-toolkit-video-desc {
    text-align: center;
    margin: 10px 0 0;
}

.bon-toolkit-jplayer {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}

.bon-toolkit-video {
    margin-bottom: 10px;
}

.bon-toolkit-video video {
    display: block;
    margin: 0;
    padding: 0;
}

.jp-video-container {
    margin-bottom: 20px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
}

.jp-video-container .jp-jplayer-video {
    background: #222222;
    width: 100%;
    height: auto;
    border: none;
    overflow: hidden;
    margin: 0;
    border: 0;
    outline: 0;
    position: relative;
}

.jp-video-container .jp-controls {
    position: relative;
    padding: 0;
    margin: 0;
    *zoom: 1;
}

.jp-video-container .jp-controls>div {
    display: block;
    float: left;
}

.jp-video-container .jp-controls .icon {
    margin: 0;
    padding: 0;
}

.jp-video-container .jp-controls .jp-play,.jp-video-container .jp-controls .jp-pause,.jp-video-container .jp-controls .jp-mute,.jp-video-container .jp-controls .jp-unmute {
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 1;
    outline: none;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    vertical-align: top;
}

.jp-video-container .jp-interface {
    position: relative;
    width: 100%;
    background-color: #222;
    z-index: 100;
    height: 50px;
}

.jp-video-container .jp-progress-container {
    height: 50px;
    position: relative;
}

.jp-video-container .jp-progress-container .jp-progress {
    width: 100%;
    height: 8px;
    margin: 21px 0;
    background-color: #000;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.jp-video-container .jp-progress-container .jp-progress .jp-seek-bar {
    width: 0px;
    height: 8px;
    background-color: #000;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.jp-video-container .jp-progress-container .jp-progress .jp-play-bar {
    width: 0px;
    height: 8px;
    background-color: #7f7f7f;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.jp-video-container .jp-volume-bar-container {
    height: 50px;
    width: 30px;
    margin-right: 18px;
    vertical-align: top;
    float: right !important;
}

.jp-video-container .jp-volume-bar-container .jp-volume-bar {
    position: relative;
    overflow: hidden;
    margin: 21px 0;
    width: 100%;
    height: 8px;
    cursor: pointer;
    background-color: #000;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.jp-video-container .jp-volume-bar-container .jp-volume-bar-value {
    width: 100%;
    height: 8px;
    background-color: #7f7f7f;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.bon-toolkit-tabs {
    position: relative;
    width: 100%;
    margin: 0 0 2em 0;
}

.bon-toolkit-tabs .tab-contents {
    overflow: hidden;
}

.bon-toolkit-tabs .tab-nav {
    border-bottom: 5px solid #222;
    padding: 0 !important;
    margin: 0;
}

.bon-toolkit-tabs .tab-nav a {
    text-decoration: none;
    line-height: 40px !important;
    height: 40px;
    position: relative;
    padding: 0 20px;
    float: left;
    display: block;
    margin-right: 3px;
    font-weight: bold;
    text-align: center;
    color: #444;
}

.bon-toolkit-tabs .tab-nav a:hover {
    background-color: #f7f7f7;
}

.bon-toolkit-tabs .tab-nav:before,.bon-toolkit-tabs .tab-nav:after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
}
.bon-toolkit-tabs .tab-contents {
    background: #fff;
    border: 1px solid #eee;
    border-top-width: 0;
}
.bon-toolkit-tabs .tab-contents.dark {
	background: #333;
    border: 1px solid #222;
    border-top-width: 0;
    color: #fff;
}

.bon-toolkit-tabs.tab-bottom .tab-contents {
	border-top-width: 1px;
	border-bottom-width: 0;
}
.bon-toolkit-tabs .tab-contents .tab-content {
    padding: 15px 30px;
    display: none;
}
.bon-toolkit-tabs .tab-contents .tab-content.active {
    display: block;
}
.bon-toolkit-tabs.tab-bottom .tab-nav {
    border-bottom: none;
    border-top: 5px solid #222;
}
.bon-toolkit-tabs.tab-left .tab-nav {
    float: left;
    border-bottom: none;
}
.bon-toolkit-tabs.tab-left .tab-nav a,.bon-toolkit-tabs.tab-right .tab-nav a {
    float: none;
    margin: 0 0 3px 0;
}
.bon-toolkit-tabs.tab-left .tab-contents,.bon-toolkit-tabs.tab-right .tab-contents {
    border-top: 1px solid #eee;
}
.bon-toolkit-tabs.tab-right .tab-nav {
    float: right;
    border-bottom: none;
}
.bon-toolkit-tabs .tab-nav a.active {
    color: #fff;
}
.bon-toolkit-tabs.red .tab-nav a.active, .bon-toolkit-tabs .tab-contents.red {
    background-color: #f95439;
}
.bon-toolkit-tabs.red .tab-nav, .bon-toolkit-tabs .tab-contents.red {
    border-color: #f95439;
}
.bon-toolkit-tabs.blue .tab-nav a.active, .bon-toolkit-tabs .tab-contents.blue {
    background-color: #00b4ff;
}
.bon-toolkit-tabs.blue .tab-nav, .bon-toolkit-tabs .tab-contents.blue {
    border-color: #00b4ff;
}
.bon-toolkit-tabs.yellow .tab-nav a.active, .bon-toolkit-tabs .tab-contents.yellow {
    background-color: #ffd908;
}
.bon-toolkit-tabs.yellow .tab-nav, .bon-toolkit-tabs .tab-contents.yellow {
    border-color: #ffd908;
}
.bon-toolkit-tabs.purple .tab-nav a.active, .bon-toolkit-tabs .tab-contents.purple {
    background-color: #c438b8;
}
.bon-toolkit-tabs.purple .tab-nav, .bon-toolkit-tabs .tab-contents.purple {
    border-color: #c438b8;
}
.bon-toolkit-tabs.green .tab-nav a.active, .bon-toolkit-tabs .tab-contents.green {
    background-color: #73ba5d;
}
.bon-toolkit-tabs.green .tab-nav, .bon-toolkit-tabs .tab-contents.green {
    border-color: #73ba5d;
}
.bon-toolkit-tabs.orange .tab-nav a.active, .bon-toolkit-tabs .tab-contents.orange {
    background-color: #ff8355;
}
.bon-toolkit-tabs.orange .tab-nav, .bon-toolkit-tabs .tab-contents.orange {
    border-color: #ff8355;
}
.bon-toolkit-tabs.dark .tab-nav a.active {
    background-color: #333;
}
.bon-toolkit-tabs.dark .tab-nav {
    border-color: #333;
}
.bon-toolkit-tabs.light .tab-nav a.active {
    background-color: #fff;
    color: #333;
}
.bon-toolkit-tabs.light .tab-nav {
    border-color: #fff;
}

ul.bon-toolkit-accordion {
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
}

ul.bon-toolkit-accordion label+input[type='radio'] {
    display: none;
}

ul.bon-toolkit-accordion span.accordion-open,ul.bon-toolkit-accordion span.accordion-close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    text-align: center;
    display: block;
    line-height: 1.4;
}

ul.bon-toolkit-accordion span.accordion-open {
    display: none;
}

ul.bon-toolkit-accordion li {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 0;
    position: relative;
}

ul.bon-toolkit-accordion li:first-child {
    border-bottom: none;
}

ul.bon-toolkit-accordion li:only-child {
    border-bottom: 1px solid #eee;
}

ul.bon-toolkit-accordion label {
    color: #444;
    display: block;
    padding: 10px 20px 10px 45px;
    font-weight: 600;
    margin: 0;
}

ul.bon-toolkit-accordion label:hover {
    cursor: pointer;
}

ul.bon-toolkit-accordion div.toggle-content {
    overflow: hidden;
    padding: 15px 30px;
    display: none;
}

ul.bon-toolkit-accordion label+input[type='radio']:checked ~ div.toggle-content {
    display: block;
    border-top: 1px solid #eee;
}

ul.bon-toolkit-accordion label+input[type='radio']:checked ~ span.accordion-open {
    display: block;
}

ul.bon-toolkit-accordion label+input[type='radio']:checked ~ span.accordion-close {
    display: none;
}

.bon-toolkit-alert {
    padding: 0.8em 1em;
    margin: 0 0 2em 0;
    line-height: 1.6em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}

.bon-builder-element-alert .bon-toolkit-alert {
    margin-bottom: 0;
}

.bon-toolkit-alert.blue {
    background: #F8FCFF;
    border: 1px solid #AFCFED;
    color: #2a73a9;
}

.bon-toolkit-alert.white {
    background: #fff;
    border: 1px solid #dfdfdf;
    color: #373737;
}

.bon-toolkit-alert.red {
    background: #ffe6e3;
    border: 1px solid #f2c3bf;
    color: #bf210e;
}

.bon-toolkit-alert.yellow {
    background: #fff7d6;
    border: 1px solid #e9d477;
    color: #956433;
}

.bon-toolkit-alert.green {
    background: #edfdd3;
    border: 1px solid #c4dba0;
    color: #657e3c;
}

.bon-toolkit-alert.gray {
    background: #fbfbfb;
    border: 1px solid #dfdfdf;
    color: #373737;
}

.bon-toolkit-button,.bon-toolkit-button:visited {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    font-size: 16px;
    outline: none;
    line-height: 1;
    padding: 12px 24px;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 1px 0 rgba(255,255,255,0.4);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 1px 0 rgba(255,255,255,0.4);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 1px 0 rgba(255,255,255,0.4);
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 1px 0 rgba(255,255,255,0.4);
    border: 1px solid #0d507a;
    margin: 0 0.1em 1.5em 0;
    background-color: #009dd8;
    background-image: -moz-linear-gradient(top, #00aced, #0087ba);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00aced), to(#0087ba));
    background-image: -webkit-linear-gradient(top, #00aced, #0087ba);
    background-image: -o-linear-gradient(top, #00aced, #0087ba);
    background-image: linear-gradient(to bottom, #00aced,#0087ba);
    background-repeat: repeat-x;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF00ACED,endColorstr=#FF0087BA);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF00ACED,endColorstr=#FF0087BA);
    zoom: 1;
}
.bon-toolkit-button.block {
    display: block;
}
.bon-toolkit-button.round-corner {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

.bon-toolkit-button.round {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}

.bon-toolkit-button.small {
    padding: 8px 12px;
    font-size: 12px;
}

.bon-toolkit-button.large {
    padding: 16px 28px;
    font-size: 20px;
}
.bon-toolkit-button.round-corner.small {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
.bon-toolkit-button.round-corner.large {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}
.bon-toolkit-button.orange,.bon-toolkit-button.orange:visited {
    border-color: #d35400 ;/* #b62107 */
    background-color: #e67e22;/*#ee3819*/
    background-image: -moz-linear-gradient(top, #e67e22, #d35400);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e67e22), to(#d35400));
    background-image: -webkit-linear-gradient(top, #e67e22, #d35400);
    background-image: -o-linear-gradient(top, #e67e22, #d35400);
    background-image: linear-gradient(to bottom, #e67e22,#d35400);
    background-repeat: repeat-x;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFD35400,endColorstr=#FFE67E22);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFD35400,endColorstr=#FFE67E22);
    zoom: 1;
}

.bon-toolkit-button.red,.bon-toolkit-button.red:visited {
    border-color: #781116;
    background-color: #b91d23;
    background-image: -moz-linear-gradient(top, #cb2027, #9f191f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cb2027), to(#9f191f));
    background-image: -webkit-linear-gradient(top, #cb2027, #9f191f);
    background-image: -o-linear-gradient(top, #cb2027, #9f191f);
    background-image: linear-gradient(to bottom, #cb2027,#9f191f);
    background-repeat: repeat-x;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFCB2027,endColorstr=#FF9F191F);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFCB2027,endColorstr=#FF9F191F);
    zoom: 1;
}

.bon-toolkit-button.pink,.bon-toolkit-button.pink:visited {
    border-color: #b31753;
    background-color: #e8397d;
    background-image: -moz-linear-gradient(top, #ea4c89, #e51e6b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea4c89), to(#e51e6b));
    background-image: -webkit-linear-gradient(top, #ea4c89, #e51e6b);
    background-image: -o-linear-gradient(top, #ea4c89, #e51e6b);
    background-image: linear-gradient(to bottom, #ea4c89,#e51e6b);
    background-repeat: repeat-x;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFEA4C89,endColorstr=#FFE51E6B);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFEA4C89,endColorstr=#FFE51E6B);
    zoom: 1;
}

.bon-toolkit-button.purple,.bon-toolkit-button.purple:visited {
    border-color: #5e1f82;
    background-color: #9b59b6;
    background-image: -moz-linear-gradient(top, #9b59b6, #8342a1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9b59b6), to(#8342a1));
    background-image: -webkit-linear-gradient(top, #9b59b6, #8342a1);
    background-image: -o-linear-gradient(top, #9b59b6, #8342a1);
    background-image: linear-gradient(to bottom, #9b59b6,#8342a1);
    background-repeat: repeat-x;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF9B59B6,endColorstr=#FF8342A1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF9B59B6,endColorstr=#FF8342A1);
    zoom: 1;
}

.bon-toolkit-button.yellow,.bon-toolkit-button.yellow:visited {
    border-color: #efc003;
    background-color: #f1c40f;
    background-image: -moz-linear-gradient(top, #f8ce25, #f1c40f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8ce25), to(#f1c40f));
    background-image: -webkit-linear-gradient(top, #f8ce25, #f1c40f);
    background-image: -o-linear-gradient(top, #f8ce25, #f1c40f);
    background-image: linear-gradient(to bottom, #f8ce25,#f1c40f);
    background-repeat: repeat-x;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFF8CE25,endColorstr=#FFf1C40F);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFF8CE25,endColorstr=#FFf1C40F);
    zoom: 1;
}

.bon-toolkit-button.green,.bon-toolkit-button.green:visited {
    border-color: #08a332;
    background-color: #2ecc71;
    background-image: -moz-linear-gradient(top, #2ecc71, #1fbc58);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2ecc71), to(#1fbc58));
    background-image: -webkit-linear-gradient(top, #2ecc71, #1fbc58);
    background-image: -o-linear-gradient(top, #2ecc71, #1fbc58);
    background-image: linear-gradient(to bottom, #2ecc71,#1fbc58);
    background-repeat: repeat-x;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF2ECC71,endColorstr=#FFE1FBC58);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF2ECC71,endColorstr=#FFE1FBC58);
    zoom: 1;
}

.bon-toolkit-button.dark,.bon-toolkit-button.dark:visited {
    border-color: #101010;
    background-color: #222;
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: -o-linear-gradient(top, #333, #222);
    background-image: linear-gradient(to bottom, #333333,#222222);
    background-repeat: repeat-x;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF333333,endColorstr=#FF222222);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF333333,endColorstr=#FF222222);
    zoom: 1;
}

.bon-toolkit-button.light,.bon-toolkit-button.light:visited {
    color: #222;
    border-color: #eee;
    background-color: #F3F3F3;
    background-image: -moz-linear-gradient(top, #f3f3f3, #eee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#eee));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #eee);
    background-image: -o-linear-gradient(top, #f3f3f3, #eee);
    background-image: linear-gradient(to bottom, #f3f3f3,#eeeeee);
    background-repeat: repeat-x;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFF3F3F3,endColorstr=#FFEEEEEEE);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFF3F3F3,endColorstr=#FFEEEEEEE);
    zoom: 1;
}

.bon-toolkit-button:hover,.bon-toolkit-button:active {
    text-decoration: none;
    color: #fff;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
    -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.4);
}

.bon-toolkit-button.light:hover,.bon-toolkit-button.light:active {
    color: #222;
}

.bon-toolkit-button:active {
    position: relative;
    top: 1px;
}

.bon-toolkit-button.flat {
    background: #00aced;
    background-image: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: none;
}

.bon-toolkit-button.flat:hover {
    text-shadow: none;
    color: #fff;
    background-color: #0087ba;
}

.bon-toolkit-button.flat.orange {
    background: #f39c12;
}

.bon-toolkit-button.flat.orange:hover {
    background-color: #e67e22;
}

.bon-toolkit-button.flat.yellow {
    background: #f8ce25;
}

.bon-toolkit-button.flat.yellow:hover {
    background-color: #f1c40f;
}

.bon-toolkit-button.flat.red {
    background: #cb2027;
}

.bon-toolkit-button.flat.red:hover {
    background-color: #9f191f;
}

.bon-toolkit-button.flat.green {
    background: #2ecc71;
}

.bon-toolkit-button.flat.green:hover {
    background-color: #1fbc58;
}

.bon-toolkit-button.flat.purple {
    background: #9b59b6;
}

.bon-toolkit-button.flat.purple:hover {
    background-color: #8342a1;
}

.bon-toolkit-button.flat.pink {
    background: #ea4c89;
}

.bon-toolkit-button.flat.pink:hover {
    background-color: #e51e6b;
}

.bon-toolkit-button.flat.dark {
    background: #333;
}

.bon-toolkit-button.flat.dark:hover {
    background-color: #202020;
}

.bon-toolkit-button.flat.light {
    background: #eee;
}

.bon-toolkit-button.flat.light:hover {
    background-color: #ddd;
    color: #222;
}

span.contact-form-ajax-loader,div.bon-builder-element-contactform div.sending-result,div.bon-builder-element-contactform span.contact-form-error {
    display: none;
}

.contact-form-input {
    margin-bottom: 15px;
}

div.contact-form-error,div.sending-result {
    display: none;
}

.contact-form-input button {
    margin: 0 10px 0 0;
}

@media only screen and (min-width: 768px) {
    .flickr_badge_image {
        width: 21.25%;
    }

    .flickr-widget .flickr_badge_image:nth-child(4n+4) {
        margin-right: 0;
        float: right;
    }

    .flickr-widget .flickr_badge_image:nth-child(6n+6) {
        margin-right: 5%;
        float: left;
    }
}

.social-share-button {
    display: inline-block;
    margin: .2em .8em 0 0;
}

.social-share-button.bon-toolkit-social-icon a {
    width: 34px;
    height: 34px;
    font-size: 15px;
    line-height: 34px;
}

.social-share-button-count {
    position: relative;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #fff;
    background-color: green;
    padding: 2px 8px;
    font-size: 13px;
    color: #fff;
    background-color: #333;
    line-height: 1;
}

.social-share-button-count:before {
    border-width: 5px 6px 5px 0;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
    content: "";
    height: 0;
    left: -6px;
    position: absolute;
    top: 0;
    margin-top: 5px;
    width: 0;
}

.share-text {
    vertical-align: middle;
    float: left;
    margin: .2em .8em .2em 0;
}

.social-share-button-container {
    margin: 20px 0 0 0;
    padding: 10px 0 5px 0;
    border-top: 1px dotted #eee;
    border-bottom: 1px dotted #eee;
}

.bt-col-row { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; max-width: 80rem; *zoom: 1; }
.bt-col-row:before, .bt-col-row:after { content: " "; display: table; }
.bt-col-row:after { clear: both; }
.bt-col-row.collapse > .bt-col, .bt-col-row.collapse > .bt-cols { padding-left: 0; padding-right: 0; }
.bt-col-row.collapse .bt-col-row { margin-left: 0; margin-right: 0; }
.bt-col-row .bt-col-row { width: auto; margin-left: -1.25rem; margin-right: -1.25rem; margin-top: 0; margin-bottom: 0; max-width: none; *zoom: 1; }
.bt-col-row .bt-col-row:before, .bt-col-row .bt-col-row:after { content: " "; display: table; }
.bt-col-row .bt-col-row:after { clear: both; }
.bt-col-row .bt-col-row.collapse { width: auto; margin: 0; max-width: none; *zoom: 1; }
.bt-col-row .bt-col-row.collapse:before, .bt-col-row .bt-col-row.collapse:after { content: " "; display: table; }
.bt-col-row .bt-col-row.collapse:after { clear: both; }

.bt-col, .bt-cols { padding-left: 1.25rem; padding-right: 1.25rem; width: 100%; float: left; }

@media only screen { .bt-col, .bt-cols { position: relative; padding-left: 1.25rem; padding-right: 1.25rem; float: left; }
  .bt-col-sm-1 { width: 8.33333%; }
  .bt-col-sm-2 { width: 16.66667%; }
  .bt-col-sm-3 { width: 25%; }
  .bt-col-sm-4 { width: 33.33333%; }
  .bt-col-sm-5 { width: 41.66667%; }
  .bt-col-sm-6 { width: 50%; }
  .bt-col-sm-7 { width: 58.33333%; }
  .bt-col-sm-8 { width: 66.66667%; }
  .bt-col-sm-9 { width: 75%; }
  .bt-col-sm-10 { width: 83.33333%; }
  .bt-col-sm-11 { width: 91.66667%; }
  .bt-col-sm-12 { width: 100%; }
  [class*="bt-col"] + [class*="bt-col"]:last-child { float: right; }
  [class*="bt-col"] + [class*="bt-col"].end { float: left; }
  .bt-col-off-sm-0 { margin-left: 0% !important; }
  .bt-col-off-sm-1 { margin-left: 8.33333% !important; }
  .bt-col-off-sm-2 { margin-left: 16.66667% !important; }
  .bt-col-off-sm-3 { margin-left: 25% !important; }
  .bt-col-off-sm-4 { margin-left: 33.33333% !important; }
  .bt-col-off-sm-5 { margin-left: 41.66667% !important; }
  .bt-col-off-sm-6 { margin-left: 50% !important; }
  .bt-col-off-sm-7 { margin-left: 58.33333% !important; }
  .bt-col-off-sm-8 { margin-left: 66.66667% !important; }
  .bt-col-off-sm-9 { margin-left: 75% !important; }
  .bt-col-off-sm-10 { margin-left: 83.33333% !important; }
  .bt-col-off-sm-11 { margin-left: 91.66667% !important; }
  .bt-col-sm-reset-order, .bt-col-sm-reset-order { margin-left: 0; margin-right: 0; left: auto; right: auto; float: left; }
  .bt-col.sm-centered, .bt-cols.sm-centered { margin-left: auto; margin-right: auto; float: none; }
  .bt-col.sm-uncentered, .bt-cols.sm-uncentered { margin-left: 0; margin-right: 0; float: left !important; }
  .bt-col.sm-uncentered.opposite, .bt-cols.sm-uncentered.opposite { float: right; } }
@media only screen and (min-width: 768px) { .bt-col, .bt-cols { position: relative; padding-left: 1.25rem; padding-right: 1.25rem; float: left; }
  .bt-col-md-1 { width: 8.33333%; }
  .bt-col-md-2 { width: 16.66667%; }
  .bt-col-md-3 { width: 25%; }
  .bt-col-md-4 { width: 33.33333%; }
  .bt-col-md-5 { width: 41.66667%; }
  .bt-col-md-6 { width: 50%; }
  .bt-col-md-7 { width: 58.33333%; }
  .bt-col-md-8 { width: 66.66667%; }
  .bt-col-md-9 { width: 75%; }
  .bt-col-md-10 { width: 83.33333%; }
  .bt-col-md-11 { width: 91.66667%; }
  .bt-col-md-12 { width: 100%; }
  [class*="bt-col"] + [class*="bt-col"]:last-child { float: right; }
  [class*="bt-col"] + [class*="bt-col"].end { float: left; }
  .bt-col-off-md-0 { margin-left: 0% !important; }
  .bt-col-off-md-1 { margin-left: 8.33333% !important; }
  .bt-col-off-md-2 { margin-left: 16.66667% !important; }
  .bt-col-off-md-3 { margin-left: 25% !important; }
  .bt-col-off-md-4 { margin-left: 33.33333% !important; }
  .bt-col-off-md-5 { margin-left: 41.66667% !important; }
  .bt-col-off-md-6 { margin-left: 50% !important; }
  .bt-col-off-md-7 { margin-left: 58.33333% !important; }
  .bt-col-off-md-8 { margin-left: 66.66667% !important; }
  .bt-col-off-md-9 { margin-left: 75% !important; }
  .bt-col-off-md-10 { margin-left: 83.33333% !important; }
  .bt-col-off-md-11 { margin-left: 91.66667% !important; }
  .bt-col-md-reset-order, .bt-col-md-reset-order { margin-left: 0; margin-right: 0; left: auto; right: auto; float: left; }
  .bt-col.md-centered, .bt-cols.md-centered { margin-left: auto; margin-right: auto; float: none; }
  .bt-col.md-uncentered, .bt-cols.md-uncentered { margin-left: 0; margin-right: 0; float: left !important; }
  .bt-col.md-uncentered.opposite, .bt-cols.md-uncentered.opposite { float: right; } }
@media only screen and (min-width: 992px) { .bt-col, .bt-cols { position: relative; padding-left: 1.25rem; padding-right: 1.25rem; float: left; }
  .bt-col-lg-1 { width: 8.33333%; }
  .bt-col-lg-2 { width: 16.66667%; }
  .bt-col-lg-3 { width: 25%; }
  .bt-col-lg-4 { width: 33.33333%; }
  .bt-col-lg-5 { width: 41.66667%; }
  .bt-col-lg-6 { width: 50%; }
  .bt-col-lg-7 { width: 58.33333%; }
  .bt-col-lg-8 { width: 66.66667%; }
  .bt-col-lg-9 { width: 75%; }
  .bt-col-lg-10 { width: 83.33333%; }
  .bt-col-lg-11 { width: 91.66667%; }
  .bt-col-lg-12 { width: 100%; }
  [class*="bt-col"] + [class*="bt-col"]:last-child { float: right; }
  [class*="bt-col"] + [class*="bt-col"].end { float: left; }
  .bt-col-off-lg-0 { margin-left: 0% !important; }
  .bt-col-off-lg-1 { margin-left: 8.33333% !important; }
  .bt-col-off-lg-2 { margin-left: 16.66667% !important; }
  .bt-col-off-lg-3 { margin-left: 25% !important; }
  .bt-col-off-lg-4 { margin-left: 33.33333% !important; }
  .bt-col-off-lg-5 { margin-left: 41.66667% !important; }
  .bt-col-off-lg-6 { margin-left: 50% !important; }
  .bt-col-off-lg-7 { margin-left: 58.33333% !important; }
  .bt-col-off-lg-8 { margin-left: 66.66667% !important; }
  .bt-col-off-lg-9 { margin-left: 75% !important; }
  .bt-col-off-lg-10 { margin-left: 83.33333% !important; }
  .bt-col-off-lg-11 { margin-left: 91.66667% !important; }
  .bt-col-lg-reset-order, .bt-col-lg-reset-order { margin-left: 0; margin-right: 0; left: auto; right: auto; float: left; }
  .bt-col.lg-centered, .bt-cols.lg-centered { margin-left: auto; margin-right: auto; float: none; }
  .bt-col.lg-uncentered, .bt-cols.lg-uncentered { margin-left: 0; margin-right: 0; float: left !important; }
  .bt-col.lg-uncentered.opposite, .bt-cols.lg-uncentered.opposite { float: right; } }
